timm==0.6.7
git+https://github.com/hiendang7613/pytorch-image-models.git
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1
torchvision==0.13.1

opencv-python
pandas
numpy
tqdm
matplotlib
